<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>qul.eventemitter example</title>
</head>
<body>
  <div ng-controller="ExampleController as example">
    <pre>{{example}}</pre>
    Service
    <div ng-repeat="item in example.data.service track by $index">{{item}}</div>

    Service2
    <div ng-repeat="item in example.data.service2 track by $index">{{item}}</div>

    OtherService
    <div ng-repeat="item in example.data.otherService track by $index">{{item}}</div>

    OtherService2
    <div ng-repeat="item in example.data.otherService2 track by $index">{{item}}</div>
  </div>

  <script src="./bower/angular/angular.min.js"></script>
  <script src="../src/EventEmitter.service.js"></script>
  <script src="./src/app.js"></script>
</body>
</html>